.loading {
  background: rgba(36, 36, 36, 0.8);
  &__preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    &__inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .classic-1 {
        color: #e0eb1e;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 40px;
        animation:c1 1s linear infinite alternate;
      }
      @keyframes c1 {to{opacity: 0}}
    }
  }
}
